@import "tailwindcss";

@theme {
  --color-abu-brown: #5d3a21;
  --color-abu-dark: #3b2313;
  --color-abu-cream: #f4ebd8;
  --color-abu-light: #fdfbf7;
  --color-abu-accent: #8b5a33;
}

body {
  background-color: var(--color-abu-light);
  color: var(--color-abu-dark);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
